$drupal_comment_unpublished_background: #fff4f4 !default
$drupal_comment_preview_background: #ffffea !default

@mixin comment
  #comments
    margin-top: 15px

  .indented
    margin-left: 25px
    /* LTR

  .comment-unpublished
    background-color: $drupal_comment_unpublished_background

  .preview .comment
    background-color: $drupal_comment_preview_background

@mixin comment_rtl
  .indented
    margin-left: 0
    margin-right: 25px
