$drupal_comment_unpublished_background: #fff4f4 !default
$drupal_comment_preview_background: #ffffea !default
$drupal_comment_margin_top: 15px !default
$drupal_comment_margin_indented: 25px !default

@mixin comment
  #comments
    margin-top: $drupal_comment_margin_top

  .indented
    margin-left: $drupal_comment_margin_indented
    /* LTR

  .comment-unpublished
    background-color: $drupal_comment_unpublished_background

  .preview .comment
    background-color: $drupal_comment_preview_background

@mixin comment_rtl
  .indented
    margin-left: 0
    margin-right: $drupal_comment_margin_indented
