$drupal_contextual_icon_image: "drupal/gear-select.png" !default
$drupal_contextual_outline_active: #999 dashed 1px !default

$drupal_contextual_border_radius: 4px !default
$drupal_contextual_border_color: #ccc !default
$drupal_contextual_background_color: #fff !default

$drupal_contextual_link_color: #333 !important !default
$drupal_contextual_background_color_hover: #bfdcee !default

@mixin contextual_links_region
  .contextual-links-region
    outline: none
    position: relative

  .contextual-links-region-active
    outline: $drupal_contextual_outline_active

@mixin contextual_links
  div.contextual-links-wrapper
    display: none
    font-size: 90%
    position: absolute
    right: 5px
    /* LTR
    top: 2px
    z-index: 999

  html.js div.contextual-links-wrapper
    display: block

  a.contextual-links-trigger
    background: transparent image_url($drupal_contextual_icon_image) no-repeat 2px 0
    border: 1px solid transparent
    display: none
    height: 18px
    margin: 0
    padding: 0 2px
    outline: none
    text-indent: 34px
    /* LTR
    width: 28px
    overflow: hidden
    @if $drupal_contextual_border_radius != 0
      -khtml-border-radius: $drupal_contextual_border_radius
      -moz-border-radius: $drupal_contextual_border_radius
      -webkit-border-radius: $drupal_contextual_border_radius
      border-radius: $drupal_contextual_border_radius
    &:hover
      background-position: 2px -18px

  div
    &.contextual-links-active a.contextual-links-trigger
      background-position: 2px -18px
      background-position: 2px -18px
      background-color: $drupal_contextual_background_color
      border-color: $drupal_contextual_border_color
      border-bottom: none
      position: relative
      z-index: 1
      @if $drupal_contextual_border_radius != 0
        -moz-border-radius: $drupal_contextual_border_radius $drupal_contextual_border_radius 0 0
        -webkit-border-bottom-left-radius: 0
        -webkit-border-bottom-right-radius: 0
        border-radius: $drupal_contextual_border_radius $drupal_contextual_border_radius 0 0
    &.contextual-links-wrapper ul.contextual-links
      background-color: $drupal_contextual_background_color
      border: 1px solid $drupal_contextual_border_color
      display: none
      margin: 0
      padding: 0.25em 0
      position: absolute
      right: 0
      text-align: left
      top: 18px
      white-space: nowrap
      @if $drupal_contextual_border_radius != 0
        -moz-border-radius: $drupal_contextual_border_radius 0 $drupal_contextual_border_radius $drupal_contextual_border_radius
        /* LTR
        -webkit-border-bottom-left-radius: $drupal_contextual_border_radius
        -webkit-border-bottom-right-radius: $drupal_contextual_border_radius
        -webkit-border-top-right-radius: 0
        /* LTR
        -webkit-border-top-left-radius: $drupal_contextual_border_radius
        /* LTR
        border-radius: $drupal_contextual_border_radius 0 $drupal_contextual_border_radius $drupal_contextual_border_radius
        /* LTR

  .contextual-links-region:hover a.contextual-links-trigger
    display: block

  div.contextual-links-active
    a.contextual-links-trigger, ul.contextual-links
      display: block

  ul.contextual-links li
    line-height: 100%
    list-style: none
    list-style-image: none
    margin: 0
    padding: 0

  div.contextual-links-wrapper a
    text-decoration: none

  ul.contextual-links li a
    color: $drupal_contextual_link_color
    display: block
    margin: 0.25em 0
    padding: 0.25em 1em 0.25em 0.5em
    &:hover
      background-color: $drupal_contextual_background_color_hover

@mixin contextual
  +contextual_links_region
  +contextual_links
  
@mixin contextual_rtl
  div.contextual-links-wrapper
    left: 5px
    right: auto
    ul.contextual-links
      @if $drupal_contextual_border_radius != 0
        -moz-border-radius: 0 $drupal_contextual_border_radius $drupal_contextual_border_radius $drupal_contextual_border_radius
        -webkit-border-top-left-radius: 0
        -webkit-border-top-right-radius: $drupal_contextual_border_radius
        border-radius: 0 $drupal_contextual_border_radius $drupal_contextual_border_radius $drupal_contextual_border_radius
      left: 0
      right: auto

  a.contextual-links-trigger
    text-indent: -90px
