$drupal_overlay_child_border_radius: 8px !default
$drupal_overlay_child_background_color: #fff !default
$drupal_overlay_child_tab_color: #000 !default
$drupal_overlay_child_tab_color_hover: #fff !default
$drupal_overlay_child_tab_background_color: #a6a7a2 !default

@mixin overlay_child
  html.js
    background: transparent !important
    overflow-y: scroll
    body
      background: transparent !important
      margin-left: 0
      margin-right: 0
      padding: 20px 0

  #overlay
    display: table
    margin: 0 auto
    min-height: 100px
    min-width: 700px
    position: relative
    padding: .2em
    padding-right: 26px
    width: 88%

  #overlay-titlebar
    padding: 0 20px
    position: relative
    white-space: nowrap
    z-index: 100

  #overlay-content
    background: $drupal_overlay_child_background_color
    clear: both
    color: #000
    padding: .5em 1em
    position: relative

  #overlay-title-wrapper
    overflow: hidden

  #overlay-title
    color: #fff
    float: left
    font-size: 20px
    margin: 0
    padding: 0.3em 0
    &:active, &:focus
      outline: 0

  #overlay-close-wrapper
    position: absolute
    right: 0

  #overlay-close
    background: transparent image_url("drupal/close.png") no-repeat
    @if $drupal_overlay_child_border_radius != 0
      -moz-border-radius-topleft: 0
      -webkit-border-top-left-radius: 0
      border-top-left-radius: 0
    display: block
    height: 26px
    margin: 0
    padding: 0
    /* Replace with position:fixed to get a scrolling close button.
    position: absolute
    width: 26px
    &:hover
      background: transparent image_url("drupal/close.png") no-repeat
      @if $drupal_overlay_child_border_radius != 0
        -moz-border-radius-topleft: 0
        -webkit-border-top-left-radius: 0
        border-top-left-radius: 0
      display: block
      height: 26px
      margin: 0
      padding: 0
      /* Replace with position:fixed to get a scrolling close button.
      position: absolute
      width: 26px

  /**
   * Tabs on the overlay.

  #overlay-tabs
    line-height: 27px
    margin: -28px 0 0 0
    position: absolute
    right: 20px
    text-transform: uppercase
    li
      display: inline
      list-style: none
      margin: 0 0 0 -3px
      padding: 0
      a
        background-color: $drupal_overlay_child_tab_background_color
        @if $drupal_overlay_child_border_radius != 0
          -moz-border-radius: $drupal_overlay_child_border_radius $drupal_overlay_child_border_radius 0 0
          -webkit-border-top-left-radius: $drupal_overlay_child_border_radius
          -webkit-border-top-right-radius: $drupal_overlay_child_border_radius
          border-radius: $drupal_overlay_child_border_radius $drupal_overlay_child_border_radius 0 0
        color: $drupal_overlay_child_tab_color
        display: inline-block
        font-size: 11px
        font-weight: bold
        margin: 0 0 2px 0
        outline: 0
        padding: 0 14px
        text-decoration: none
        &:active, &:visited, &:hover
          background-color: $drupal_overlay_child_tab_background_color
          @if $drupal_overlay_child_border_radius != 0
            -moz-border-radius: $drupal_overlay_child_border_radius $drupal_overlay_child_border_radius 0 0
            -webkit-border-top-left-radius: $drupal_overlay_child_border_radius
            -webkit-border-top-right-radius: $drupal_overlay_child_border_radius
            border-radius: $drupal_overlay_child_border_radius $drupal_overlay_child_border_radius 0 0
          color: $drupal_overlay_child_tab_color
          display: inline-block
          font-size: 11px
          font-weight: bold
          margin: 0 0 2px 0
          outline: 0
          padding: 0 14px
          text-decoration: none
      &.active a
        background-color: $drupal_overlay_child_background_color
        margin: 0
        padding-bottom: 2px
        &.active, &:active, &:visited
          background-color: $drupal_overlay_child_background_color
          margin: 0
          padding-bottom: 2px
      a
        &:focus, &:hover
          color: $drupal_overlay_child_tab_color_hover
      &.active a
        &:focus, &:hover
          color: $drupal_overlay_child_tab_color

  /**
   * Add to shortcuts link

  #overlay-titlebar .add-or-remove-shortcuts
    padding-top: 0.9em

  /**
   * IE6 shows elements with position:fixed as position:static so replace
   * it with position:absolute;

  * html #overlay-close
    position: absolute
    &:hover
      position: absolute

  /**
   * Disable message.

  #overlay-disable-message
    background-color: $drupal_overlay_child_background_color
    margin: -20px auto 20px
    width: 80%
    @if $drupal_overlay_child_border_radius != 0
      -moz-border-radius: 0 0 $drupal_overlay_child_border_radius $drupal_overlay_child_border_radius
      -webkit-border-bottom-left-radius: $drupal_overlay_child_border_radius
      -webkit-border-bottom-right-radius: $drupal_overlay_child_border_radius
      border-radius: 0 0 $drupal_overlay_child_border_radius $drupal_overlay_child_border_radius

  .overlay-disable-message-focused
    padding: 0.5em
    a
      display: block
      float: left
    #overlay-dismiss-message
      float: right
